.radioGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.divEntryForm {
  margin-bottom: 1.5rem;
}

.divRadio {
  margin-bottom: 0.5rem;
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: 0.75rem;
  display: flex;
  gap: 0.75rem;
  cursor: pointer;

  &:hover {
    background-color: var(--light-grey);
  }
}

.selectedDivRadio {
  background-color: var(--main-green);

  &:hover {
    background-color: var(--main-green);
  }
}

.labelEntryForm {
  display: flex;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.inputEntryForm {
  background-color: var(--bg-blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;

  &:focus-visible {
    outline: 3px solid var(--light-grey);
  }
}

.textAreaEntryForm {
  background-color: var(--bg-blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;

  &:focus-visible {
    outline: 3px solid var(--light-grey);
  }
}

.buttonEntryForm {
  padding: 0.5rem 1rem;
  color: var(--white);
  background-color: var(--main-green);
  border: 1px solid var(--main-green);
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(0.8);
  }
}

::-webkit-calendar-picker-indicator {
  background-color: var(--main-green);
}

.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  background-color: var(--black-transparency);
  padding: 1.5rem;
}

.modalBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.modalMain {
  display: flex;
  justify-content: center;
}

.modalFormContainer {
  z-index: 20;
  position: relative;
  background-color: var(--bg-blue);

  padding: 2rem;
  border: 1px solid var(--border);
  border-radius: 0.75rem;
}

.closeFormButton {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--white);
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(0.8);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.animateFadeIn {
  animation: fade-in 0.4s ease-out forwards;
}

.animateFadeOut {
  animation: fade-out 0.4s ease-in forwards;
}

@media (min-width: 768px) {
  .modalFormContainer {
    width: 600px;
  }
}
